/**
CSS blocks order
*
1. Position (static, absolute, relative, fixed)
2. Box model (margin, border, padding, content)
3. Typography (fonts, sizes)
4. Visual (e.g box-shadow, border-radius, gradient)
5. Others (CSS rules)
*/

@import "assets/styles/variables";
@import "assets/styles/media-queries";

%align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  @extend %align-center;
  gap: 10rem;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  font-family: $PlutoSansCondMedium, "sans-serif";
  @include tablet {
    grid-template-columns: 1fr;
  }
  @include resize-container {
    gap: 5rem;
  }

  &__form-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    min-width: 250px;
    max-width: 340px;
    margin-right: 20px;
    @include tablet {
      justify-content: center;
      margin-right: 0;
    }

    .form-component {
      margin-top: 10px;
    }


    .submit-button {
      display: block;
      width: 100%;
      height: 50px;
      font-family: PlutoSansCondMedium, "sans-serif";
      font-size: 1.2rem;
      border-radius: 25px;
      outline: none;
      border: none;
      background-image: $primaryButtonGradient;
      background-size: 200%;
      color: $buttonTextColor;
      text-transform: uppercase;
      margin: 1.6rem 0;
      cursor: pointer;
      transition: 0.5s;
      &:disabled {
        background-image: $disabledGradient;
      }
      &:hover {
        background-position: right;
      }
    }
    &--signin-link,
    &--forgot-link,
    &--signup-link {
      margin: 20px 4px 0px 4px;
      text-align: center;
      font-size: 0.9rem;
      font-family: $PlutoSansCondLight;
      text-decoration: none;
      color: $secondTextColor;
      transition: 0.3s;
      .link {
        margin-left: 5px;
        text-align: right;
        text-decoration: none;
        color: $linkColor;
        font-size: 0.9rem;
        transition: 0.3s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
