/**
CSS blocks order
*
1. Position (static, absolute, relative, fixed)
2. Box model (margin, border, padding, content)
3. Typography (fonts, sizes)
4. Visual (e.g box-shadow, border-radius, gradient)
5. Others (CSS rules)
*/

@import '../../assets/styles/variables';

.app {
  text-align: center;

  &-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: $PlutoSansCondMedium;
    font-size: calc(10px + 2vmin);
    color: white;

    .logo-container {
      flex-direction: row;
      width: 12.6rem;
      align-items: center;

      .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    
  }
}
