/**
CSS blocks order
*
1. Position (static, absolute, relative, fixed)
2. Box model (margin, border, padding, content)
3. Typography (fonts, sizes)
4. Visual (e.g box-shadow, border-radius, gradient)
5. Others (CSS rules)
*/

@import '../../../assets/styles/variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.blue-wave-img {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
    width: 50%;
	z-index: -1;
}

.container {
    width: 100vw;
    height: 100vh;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 0 1rem;
    font-family: $pluto_sans_cond_medium, 'sans-serif';
}

.container__signup {
    flex-direction: column;
    align-items: center;
	text-align: center;  
}

.signin-link {
	text-align: center;
    font-size: 0.9rem;
	text-decoration: none;
	color: #999;
	transition: .3s;
}

.container-img .bookshelves-img {
    width: 500px;
}

form{
	width: 360px;
}

.container__signup img{
    height: 100px;
}

.container__signup h2{
	margin: 15px 0;
    font-size: 2.9rem;
	color: #333;
	text-transform: uppercase;
}

.container__signup .input-container
 {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 2.7rem 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.container__signup .signin-link {
    margin: 25px 0;
    padding: 5px 0;
}

.email-container {
    margin-top: 0;
}


.input-container.focus > .icon-container > .icon{
	color: #6EC1E4;
}

.icon-container {
    display: flex;
	justify-content: center;
	align-items: center;
    color: #999;
}

.icon-container .icon {
    font-size: 0.9rem;
    transition: .3s;
}

.input-container > div {
    position: relative;
	height: 45px;
}

.input-container > .input-textfield > h5 {
    position: absolute;
	left: 8px;
	top: 52%;
    font-size: 1rem;
	transform: translateY(-50%);
	color: #999;
	transition: .3s;
}

.input-container:before, .input-container:after {
    content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #6EC1E4;
	transition: .4s;
}

.input-container:before{
	right: 50%;
}

.input-container:after{
	left: 50%;
}

.input-container.focus:before, .input-container.focus:after{
	width: 50%;
}

.input-container.focus > .input-textfield > h5{
	top: -5px;
	font-size: 1rem;
}


.input-container > .input-textfield > input{
	position: absolute;
	left: 0;
	top: 0;
    padding: 0.5rem 0.7rem;
	width: 100%;
	height: 100%;
    font-size: 1.2rem;
    font-family: $pluto_sans_cond_medium, sans-serif;
	border: none;
	outline: none;
	background: none;
	color: #555;
}

.password-container {
    margin-bottom: 0px;
}

.link {
	// display: block;
	text-align: right;
	text-decoration: none;
	color: #333;
	font-size: 0.9rem;
	transition: .3s;
}

.link:hover{
	color: #6EC1E4;
}

.signup-button {
    display: block;
	width: 100%;
	height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #5cb3d8, #6EC1E4, #44a7d1);
	background-size: 200%;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.signup-button:disabled {
    background-image: linear-gradient(to right, #999, #999, #999);
}

.signup-button:hover{
	background-position: right;
}

@media screen and (max-width: 1050px){
	.container{
		gap: 5rem;
	}

    .blue-wave-img {
        width: 60%;
    }
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.container__signup h2{
        margin: 8px 0;
        font-size: 2.4rem;
	}

	.container-img .bookshelves-img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.container-img{
		display: none;
	}

	.blue-wave-img{
		display: none;
	}

	.container__signup{
		justify-content: center;
	}
}