/**
CSS blocks order
*
1. Position (static, absolute, relative, fixed)
2. Box model (margin, border, padding, content)
3. Typography (fonts, sizes)
4. Visual (e.g box-shadow, border-radius, gradient)
5. Others (CSS rules)
*/

@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-size: 62.5%;
  overflow: hidden;
  // margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


