@import "assets/styles/variables";
@import "assets/styles/media-queries";

%align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  &__form-wrapper {
    &--top-wrapper {
      @include mobile {
        margin-bottom: 20px;
      }
      .top-wrapper--avatar {
        height: 100px;
      }
      .top-wrapper--title {
        margin: 15px 0 0 0;
        font-size: 2.5rem;
        color: $title;
        text-transform: uppercase;
        @include resize-font {
          margin: 5px 0;
          font-size: 2rem;
        }
      }
    }

  }
}
